<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />

<title>Lista de Convidados</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous" />

</head>
<body>
	<!-- 	<nav class="navbar navbar-default navbar-static-top"> -->
	<!-- 		<div class="container"> -->
	<!-- 			<ul class="nav navbar-nav"> -->
	<!-- 				<li><a href="painel-controle">Painel de Controle</a></li> -->
	<!-- 				<li><a href="/login">Login</a></li> -->
	<!-- 				<li class="active"><a href="/produtos">Produtos</a></li> -->
	<!-- 				<li th:if="*{email}"><a href="/logout">Logout</a></li> -->
	<!-- 			</ul> -->
	<!-- 		</div> -->
	<!-- 	</nav> -->

	<nav th:replace="/layout :: menu"></nav>

	<header class="page-header">
		<h1>
			Listagem <small>Produtos</small>
		</h1>
	</header>

	<form class="form-inline" th:action="@{/produtos}"
		th:object="${produto}" method="POST" style="margin: 20px 0">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Nome"
				th:field="*{nome}" required="true" /> <input type="number"
				class="form-control" placeholder="Preço" th:field="*{preco}"
				required="true" /> <input type="text" class="form-control"
				placeholder="Descrição" th:field="*{descricao}" required="true" />
			<button type="submit" class="btn btn-primary">Adicionar</button>
		</div>
	</form>
<!-- 	<form class="form-inline" th:action="@{/produtos}" -->
<!-- 		th:object="${produto}" method="POST" style="margin: 20px 0"> -->
<!-- 		<div class="form-group"> -->
<!-- 			<select> -->
<!-- 				<option  -->
<!-- 			</select> -->
<!-- 			<button type="submit" class="btn btn-primary">Buscar</button> -->
<!-- 		</div> -->
<!-- 	</form> -->
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de produtos</h1>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Preço</th>
						<th>Descrição</th>
						<th>Excluir</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="produto : ${produtos}">
						<td th:text="${produto.nome}"></td>
						<td th:text="${produto.preco}"></td>
						<td th:text="${produto.descricao}"></td>
						<td><a th:href="@{/produtos/delete(nome=${produto.nome})}"><span
								class="glyphicon glyphicon-remove"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>